<p style="color: green"><%= notice %></p>

<h1>Atores</h1>

<div id="actors">
  <% @actors.each do |actor| %>
    <%= render actor %>
    <p>
      <%= link_to "Ver mais", actor %>
    </p>
    <br>
  <% end %>
</div>

<%= link_to "Novo ator", new_actor_path %>
