<div id="<%= dom_id comment %>">
  <p>
    <strong>Conteúdo:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Filme:</strong>
    <%= comment.movie.title %>
  </p>
  <%= button_to "Aprovar comentário", { action: "approve", id: comment.id } %>

</div>
