<p style="color: green"><%= notice %></p>

<h1>Comentários</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Ver mais", comment %>
    </p>
  <% end %>
</div>

<%= link_to "Novo comentário", new_comment_path %>
