body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.title{

}
.menu{
  height: 60px;
  background-color: rgb(51, 54, 54);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu a{
  color: #f5f5f5;
  font-size: 24px;
}
#movies{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.movieBox{
  background-color: rgb(67, 42, 90);
  border-radius: 20%;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.movieBox :hover{

}
.movieBox a{
  color: #f5f5f5;
}
.teste{
  background-color: black;
}