<div id="<%= dom_id log %>">

  <p>
    <strong>Comentário:</strong>
    <%= log.comment.content %>
  </p>

  <p>
    <strong>Data de Aprovação:</strong>
    <%= log.created_at %>
  </p>

  <hr>

</div>
